@using Signo.Business.Models
@model Signo.App.ViewModels.IntegranteViewModel

@{
    ViewData["Title"] = "Apagar Registro";
}

<h1>@ViewData["Title"]</h1>

<h3 class="alert-danger">Tem certeza que deseja apagar este registro?</h3>
<div>

    <dl class="row">
        <div class="col-sm-4">
            <dt>
                <img src="~/imgFotos/@Model.ImgFoto" alt="@Model.ImgFoto" style="width: 150px; height: 214px" class="imgRound" />
            </dt>
            <br />
            <dt>
                <img src="~/imgAss/@Model.ImgSign" alt="@Model.ImgFoto" style="width: 107px; height: 75px" class="imgRound" />
            </dt>
        </div>
        <div class="col-md-6">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Unidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Unidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Matricula)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Matricula)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FuncaoBordo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FuncaoBordo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FuncaoContrato)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.FuncaoContrato)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Empresa)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Empresa)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.CepEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.CepEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LogradouroEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LogradouroEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.NumeroEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.NumeroEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.ComplementoEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.ComplementoEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.BairroEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.BairroEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.LocalidadeEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.LocalidadeEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.UfEndereco)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UfEndereco)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Telefone)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Nacionalidade)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Admin)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Admin)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Ativo)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Ativo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Genero)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Admissao)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Admissao)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DoB)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.DoB)
            </dd>
        </div>
    </dl>
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar</a>
    </form>

</div>



