@model Signo.App.ViewModels.IntegranteViewModel
@{
    ViewData["Title"] = "Permissões para " + ViewData["Normalized"];
}

<h1>@ViewData["Title"]</h1>

<div class="row">
    <table class="table col-md-4 table-hover">
        <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManipulateUserClaimsType)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.ManipulateUserClaimsValue)
            </th>

        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.UserClaims)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Value)
                </td>
            </tr>
        }
        </tbody>
    </table>
    
    <form class="col-md-2" asp-action="AddClaims" style="text-align: center">
        <div>
            <div class="form-group">
                <label asp-for="ManipulateUserClaimsType" class="control-label"></label>
                <input asp-for="ManipulateUserClaimsType" class="form-control" />
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="ManipulateUserClaimsValue" class="control-label"></label>
                <input asp-for="ManipulateUserClaimsValue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Conceder Permissão" class="btn btn-info " />
            </div>
        </div>
    </form>

    <form class="col-md-2" asp-action="DelClaim" style="text-align: center">
        <div>
            <div class="form-group">
                <label asp-for="ManipulateUserClaimsType" class="control-label"></label>
                <input asp-for="ManipulateUserClaimsType" class="form-control" />
                <input type="hidden" asp-for="Id" />
            </div>
            <div class="form-group">
                <label asp-for="ManipulateUserClaimsValue" class="control-label"></label>
                <input asp-for="ManipulateUserClaimsValue" class="form-control" />
            </div>
            <div class="form-group">
                <input type="submit" value="Retirar Permissão" class="btn btn-danger" />
            </div>
        </div>
    </form>
   

</div>

