@using Signo.Business.Models
@using Microsoft.AspNetCore.Razor.Language.Intermediate
@model Signo.App.ViewModels.IntegranteViewModel

@{
    ViewData["Title"] = "Editar Informações de " + @Model.Nome;
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">

    <div class="col-md-4">


        <img src="~/imgFotos/@Model.ImgFoto" alt="@Model.ImgFoto" style="width: 150px; height: 214px" class="imgRound" />

        @*<div class="col-md-2" id="divUpload">
                <input type="file" class="custom-file-input" id="ImgFotoUpload" asp-for="ImgFotoUpload" />
                <label data-browse="Procurar" style="width: 50%" class="custom-file-label labelUpload" for="ImgFotoUpload"></label>
                <label style="display: none" class="labelUpload2" id="ImgFotoUploadNome"></label>
            </div>*@
        <br />

        <img src="~/imgAss/@Model.ImgSign" alt="@Model.ImgFoto" style="width: 107px; height: 75px" class="imgRound" />
        @*<div class="col-md-2">
                <input type="file" class="custom-file-input" id="ImgSignUpload" asp-for="ImgSignUpload" />
                <label data-browse="Procurar" style="width: 50%" class="custom-file-label labelUpload" for="ImgSignUpload"></label>
                <label class="labelUpload2" style="display: none" id="ImgSignUploadNome"></label>
            </div>*@

    </div>

    <form asp-action="Edit" enctype="multipart/form-data" class="col-md-6">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <dl>

            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
            <dd>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Unidade)
            </dt>
            <dd>
                <select asp-for="Unidade" class="form-control" asp-items=@(new SelectList(Enum.GetValues(typeof(EnumRig))))>
                    <option></option>
                </select>
                <span asp-validation-for="Unidade" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Matricula)
            </dt>
            <dd>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FuncaoBordo)
            </dt>
            <dd>
                <input asp-for="FuncaoBordo" class="form-control" />
                <span asp-validation-for="FuncaoBordo" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.FuncaoContrato)
            </dt>
            <dd>
                <input asp-for="FuncaoContrato" class="form-control" />
                <span asp-validation-for="FuncaoContrato" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Empresa)
            </dt>
            <dd>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Endereco)
            </dt>
            <dd>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Telefone)
            </dt>
            <dd>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </dd>


            <dt>
                @Html.DisplayNameFor(model => model.Nacionalidade)
            </dt>
            <dd>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </dd>
            <dt>
                @*@Html.DisplayNameFor(model => model.Admin)*@
            </dt>
            <dd>
                <input class="form-check-input checkEdit" asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
            </dd>
            <dt>
                @*@Html.DisplayNameFor(model => model.Ativo)*@
            </dt>
            <dd>
                <input class="form-check-input checkEdit" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Genero)
            </dt>
            <dd>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Admissao)
            </dt>
            <dd>
                @*<input type="datetime-local" asp-for="Admissao" class="form-control" />*@
                @Html.TextBoxFor(model => model.Admissao,"{0:dd/MM/yyyy}", new { @class = "form-control"})
                <span asp-validation-for="Admissao" class="text-danger"></span>
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.DoB)
            </dt>
            <dd>
                @*Html.TextBoxFor(model => model.StartDate, new { @class = "datepicker", Value=String.Format("{0:d}", Model.StartDate) }*@
                @*<input asp-for="DoB" class="form-control" />*@
                @Html.TextBoxFor(model => model.DoB,"{0:dd/MM/yyyy}", new { @class = "form-control"})
                <span asp-validation-for="DoB" class="text-danger"></span>
            </dd>
        </dl>
        <div class="col-md-12" style="margin: 0; padding: 0;">

            <label asp-for="ImgFotoUpload" class="control-label"></label>
            <div class="custom-file" id="custom-file1" style="margin: 0; padding: 0;">
                <input type="file" class="custom-file-input" id="ImgFotoUpload" asp-for="ImgFotoUpload"/>
                <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImgFotoUpload"></label>
                <label style="display: none" id="ImgFotoUploadNome"></label>
            </div>

            <label asp-for="ImgSignUpload" class="control-label"></label>
            <div class="custom-file" id="custom-file2">
                <label asp-for="ImgSignUpload" class="control-label"></label>
                <input type="file" class="custom-file-input" asp-for="ImgSignUpload"/>
                <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImgSignUpload"></label>
                <label style="display: none" id="ImgSignUploadNome"></label>
            </div>
            <input type="submit" value="Salvar" class="btn btn-primary" style="padding-top: 5px;"/>
        </div>

    </form>
</div>
<a asp-action="Index">Voltar</a>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script>
        $("#ImgFotoUpload").change(function () {
            $("#ImgFotoUploadNome").text(this.files[0].name);
            $("#ImgFotoUploadNome")[0].style.display = 'block';
            document.getElementById("custom-file1").style.backgroundColor = "#000000";
        });


    </script>
    <script>
        $("#ImgSignUpload").change(function () {
            $("#ImgSignUploadNome").text(this.files[0].name);
            $("#ImgSignUploadNome")[0].style.display = 'block';
            document.getElementById("custom-file2").style.backgroundColor = "#000000";
        });


    </script>



}