@using Signo.Business.Models
@model Signo.App.ViewModels.IntegranteViewModel

@{
    ViewData["Title"] = "Editar Informações de " + @Model.Nome;
}

<h4>@ViewData["Title"]</h4>
<hr />

<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Unidade" class="control-label"></label>
                @*@Html.DropDownList("Rigs", new SelectList(Enum.GetValues(typeof(EnumRig))), new { id = "dropdownlist", multiple = "multiple" })*@
                <select asp-for="Unidade" class="form-control" asp-items=@(new SelectList(Enum.GetValues(typeof(EnumRig))))>
                    <option></option>
                </select>
                <span asp-validation-for="Unidade" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="Matricula" class="control-label"></label>
                <input asp-for="Matricula" class="form-control" />
                <span asp-validation-for="Matricula" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncaoBordo" class="control-label"></label>
                <input asp-for="FuncaoBordo" class="form-control" />
                <span asp-validation-for="FuncaoBordo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FuncaoContrato" class="control-label"></label>
                <input asp-for="FuncaoContrato" class="form-control" />
                <span asp-validation-for="FuncaoContrato" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Empresa" class="control-label"></label>
                <input asp-for="Empresa" class="form-control" />
                <span asp-validation-for="Empresa" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Endereco" class="control-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="Telefone" class="control-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>




            <div class="form-group">
                <label asp-for="Nacionalidade" class="control-label"></label>
                <input asp-for="Nacionalidade" class="form-control" />
                <span asp-validation-for="Nacionalidade" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Admin" /> @Html.DisplayNameFor(model => model.Admin)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> @Html.DisplayNameFor(model => model.Ativo)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Genero" class="control-label"></label>
                <input asp-for="Genero" class="form-control" />
                <span asp-validation-for="Genero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Admissao" class="control-label"></label>
                <input asp-for="Admissao" class="form-control" />
                <span asp-validation-for="Admissao" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoB" class="control-label"></label>
                <input asp-for="DoB" class="form-control" />
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="ImgFotoUpload" class="control-label"></label>
                <div class="custom-file" id="custom-file1">
                    <input type="file" class="custom-file-input" id="ImgFotoUpload" asp-for="ImgFotoUpload" />
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImgFotoUpload"></label>
                    <label style="display:none" id="ImgFotoUploadNome"></label>
                </div>
            </div>

            <div class="form-group">
                <label asp-for="ImgSignUpload" class="control-label"></label>
                <div class="custom-file" id="custom-file2">
                    <input type="file" class="custom-file-input" id="ImgSignUpload" asp-for="ImgSignUpload" />
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImgSignUpload"></label>
                    <label style="display:none" id="ImgSignUploadNome"></label>
                </div>
            </div>
           
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-primary" />
                <img src="~/imgAss/@Model.ImgSign" alt="@Model.ImgSign" style="width: 80px; height: 80px" />
            </div>
        </form>

    </div>
    <div class="col-md-2">
        <img src="~/imgFotos/@Model.ImgFoto" alt="@Model.ImgFoto" style="width:170px; height:170px" />
       
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    
    <script>
        $("#ImgFotoUpload").change(function () {
            $("#ImgFotoUploadNome").text(this.files[0].name);
            $("#ImgFotoUploadNome")[0].style.display = 'block';
            document.getElementById("custom-file1").style.backgroundColor = "#000000";
        });

       
    </script>
    <script>
        $("#ImgSignUpload").change(function () {
            $("#ImgSignUploadNome").text(this.files[0].name);
            $("#ImgSignUploadNome")[0].style.display = 'block';
            document.getElementById("custom-file2").style.backgroundColor = "#000000";
        });

       
    </script>
}
