@using Signo.Business.Models
@using System.Linq
@model IEnumerable<Signo.App.ViewModels.IntegranteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Integrantes</h1>
<hr />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">

        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"></a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">


            @*<p>
                <a class="btn btn-info" asp-action="Create">Inserir Integrante</a>
            </p>*@


            @*<ul class="navbar-nav flex-grow-1">*@
            @using (Html.BeginForm())
            {

                <table class="tabelaIntegrante">
                    <thead>
                    <tr>
                        <th></th>
                        <th>Nome:</th>
                        <th>Unidade:</th>
                        <th>Função a Bordo:</th>

                    </tr>
                    </thead>
                    <tr>
                        <td>
                            <a class="btn btn-info" asp-action="Create" style="font-size: 70%">Inserir Integrante</a>
                        </td>
                        <td>
                            @Html.TextBox("searchStrNome")
                        </td>
                        <td>
                            @Html.TextBox("searchStrUnidade")
                        </td>
                        <td>
                            @Html.TextBox("searchStrFuncaoBordo")
                        </td>
                        <td>
                            <input class="btn btn-info" type="submit" value="Filtrar" style="font-size: 70%"/>
                        </td>


                    </tr>

                </table>
                @*<li class="nav-item">

                                @Html.TextBox("searchStrNome", "", new { style = "width:20%;font-size:70%" })

                            </li>

                            <li class="nav-item">
                                Unidade:
                                @Html.TextBox("searchStrUnidade", "", new { style = "width:20%;font-size:70%" })

                            </li>
                            <li class="nav-item">
                                Função a Bordo:
                                @Html.TextBox("searchStrFuncaoBordo", "", new { style = "width:20%;font-size:70%" })
                                <input class="IntIndInput" type="submit" value="Filtrar" style="font-size: 70%" />
                            </li>
                        }
                    </ul>*@
            }
        </div>
    </div>
</nav>










<div id="divInt">
    <table class="table table-hover" id="tabelaIntegrante">
        <thead class="thead-dark" id="TheadInt">
            <tr>
                <th>

                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Nome), "Index", new { sortOrder = ViewBag.NameSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Unidade), "Index", new { sortOrder = ViewBag.UnidadeSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Matricula), "Index", new { sortOrder = ViewBag.MatriculaSortParm })
                </th>

                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.FuncaoBordo), "Index", new { sortOrder = ViewBag.FuncaoBordoSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.FuncaoContrato), "Index", new { sortOrder = ViewBag.FuncaoContratoSortParm })
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Empresa), "Index", new { sortOrder = ViewBag.EmpresaSortParm })
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size: small">
                    <td>
                        <img src="~/imgFotos/@item.ImgFoto" alt="@item.ImgFoto" style="width: 30px; height: 30px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncaoBordo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncaoContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>



                    <td class="text-right">
                        <a class="btn btn-info" asp-controller="Integrantes" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>

                        <a class="btn btn-warning" asp-controller="Integrantes" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>


                        <a class="btn btn-dark" asp-controller="Integrantes" asp-action="EditClaims" asp-route-id="@item.Id"><spam class="fa fa-lock-open"></spam></a>


                        <a class="btn btn-danger" asp-controller="Integrantes" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>