@using Signo.Business.Models
@using System.Linq
@model IEnumerable<Signo.App.ViewModels.IntegranteViewModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Lista de Integrantes</h1>
<hr />

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container row">
        <a class="btnIntIndexAdd btn" asp-action="Create" style="font-size: 70%;">Inserir Integrante</a>

        @*<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@

        @using (Html.BeginForm())
        {
          
                <table class="tabelaIntegrante">
                    <thead>
                    <tr>
                        <th>Ativos?</th>
                        <th>Não-Ativos?</th>
                        <th>  </th>
                        <th>Nome:</th>
                        <th>Unidade:</th>
                        <th>Função a Bordo:</th>

                    </tr>
                    </thead>
                    <tr>

                        <td>
                            @Html.RadioButton("searchAtivo",true)
                        </td>
                        <td>
                            @Html.RadioButton("searchNaoAtivo", true)
                        </td>
                        <td>
                      
                        </td>
                        <td>
                            @Html.TextBox("searchStrNome")
                        </td>
                        <td>
                            @Html.TextBox("searchStrUnidade")
                        </td>
                        <td>
                            @Html.TextBox("searchStrFuncaoBordo")
                        </td>
                        <td>
                            <input class="btn btn-info" type="submit" value="Filtrar" style="font-size: 70%" />
                        
                        </td>
                    </tr>

                </table>
           
          
              
        }
      
    </div>
</nav>










<div id="divInt">
    <table class="table table-hover" id="tabelaIntegrante">
        <thead class="thead-dark" id="TheadInt">
        <tr>
            <th>

            </th>
            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.Nome), "Index", new { sortOrder = ViewBag.NameSortParm })
            </th>
            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.Unidade), "Index", new { sortOrder = ViewBag.UnidadeSortParm })
            </th>
            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.Matricula), "Index", new { sortOrder = ViewBag.MatriculaSortParm })
            </th>

            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.FuncaoBordo), "Index", new { sortOrder = ViewBag.FuncaoBordoSortParm })
            </th>
            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.FuncaoContrato), "Index", new { sortOrder = ViewBag.FuncaoContratoSortParm })
            </th>
            <th>
               | @Html.ActionLink(@Html.DisplayNameFor(model => model.Empresa), "Index", new { sortOrder = ViewBag.EmpresaSortParm })
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        @*<tr>
        @using (Html.BeginForm())
        {
            <th>

            </th>
            <th>
                @Html.TextBox("searchStrNome")
            </th>
            <th>
                @Html.TextBox("searchStrUnidade")
            </th>
            <th>

            </th>

            <th>
                @Html.TextBox("searchStrFuncaoBordo")
            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>

            </th>
            <th>
                <input class="btn btn-info" type="submit" value="Filtrar" style="font-size: 70%"/>
            </th>
        }
        </tr>*@
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr style="font-size: small">
                    <td>
                        <img src="~/imgFotos/@item.ImgFoto" alt="@item.ImgFoto" style="width: 30px; height: 30px" />
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Unidade)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Matricula)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncaoBordo)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.FuncaoContrato)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa)
                    </td>



                    <td class="text-right">
                        |<a class="alert-info" asp-controller="Integrantes" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>|

                        <a class="alert-info" asp-controller="Integrantes" asp-action="Edit" asp-route-id="@item.Id">Editar</a>|


                        <a class="alert-info" asp-controller="Integrantes" asp-action="EditClaims" asp-route-id="@item.Id">Permissões</a>|


                        <a class="alert-danger" asp-controller="Integrantes" asp-action="Delete" asp-route-id="@item.Id">Apagar</a>|
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

@*<td class="text-right">
        <a class="btn btn-info" asp-controller="Integrantes" asp-action="Details" asp-route-id="@item.Id"><spam class="fa fa-search"></spam></a>

        <a class="btn btn-warning" asp-controller="Integrantes" asp-action="Edit" asp-route-id="@item.Id"><spam class="fa fa-pencil-alt"></spam></a>


        <a class="btn btn-dark" asp-controller="Integrantes" asp-action="EditClaims" asp-route-id="@item.Id"><spam class="fa fa-lock-open"></spam></a>


        <a class="btn btn-danger" asp-controller="Integrantes" asp-action="Delete" asp-route-id="@item.Id"><spam class="fa fa-trash"></spam></a>
    </td>*@